<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="VisibaDevOps" value="https://pkgs.dev.azure.com/Visiba/_packaging/Visiba/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="VisibaDevOps">
      <package pattern="Visiba.*" />
    </packageSource>
  </packageSourceMapping>

  <packageSourceCredentials>
    <VisibaDevOps>
      <add key="Username" value="az" />
      <add key="ClearTextPassword" value="%VISIBA_DEVOPS_PAT%" />
    </VisibaDevOps>
  </packageSourceCredentials>
</configuration>
